.attendance__heading p {
    margin: 0;
    padding: 1.5em 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.group__working,
.group__break {
    display: flex;
    justify-content: center;
}

@media (min-width: 800px) {
    .attendance__button {
        width: 15em;
        height: 5em;
        border: none;
        border-radius: 5px;
        background: #fff;
        color: #000;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .attendance__button {
        width: 18em;
        height: 7em;
        border: none;
        border-radius: 5px;
        background: #fff;
        color: #000;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.attendance__button-top {
    margin-bottom: 1em;
}

.attendance__button-buttom {
    margin-top: 1em;
}

.attendance__button-left {
    margin-right: 1em;
}

.attendance__button-right {
    margin-left: 1em;
}

button[disabled] {
    color: #f2f2f2;
}