.register__content {
    margin: 0;
    font-size: 0.8rem;
}

.register__heading {
    margin: 0;
}

.register__heading h2 {
    margin: 0;
    padding-top: 2em;
    padding-bottom: 1.5em;
    font-size: 1.2rem;
}

.register-form__input {
    margin-bottom: 1em;
}

.register-form__button {
    margin-bottom: 2em;
}

.register-form__input input {
    padding: 1em;
    width: 20em;
    height: 3em;
    line-height: 3em;
    border: 2px solid #808080;
    border-radius: 5px;
    appearance: none;
    font-size: 0.8rem;
    background-color: #f2f2f2f2;
}

x-input-error {
    color: #ff0000;
}

.register-form__button-submit {
    width: 20em;
    height: 3em;
    line-height: 3em;
    border: none;
    border-radius: 5px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
}

.has-account {
    margin: 0;
    color: #808080;
}

.login__link {
    text-decoration: none;
    color: #0000ff;
}

.mt-2 {
    color: #ff0000;
    list-style: none;
}