.user-attendance-list__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .form-row .form-control {
    width: 10em;
    font-size: 1rem;
}

.user-attendance-list__heading h2 {
    margin: 0;
    padding: 2em 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.form-row {
    display: flex;
}

.form-row label {
    padding: 6px 0;
}

.back__button {
    background-color: #0d6efd;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    padding: 0.4em 0.5em;
}

.year-month-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.year-month-selection,
.list__table {
    font-size: 1rem;
}

.list__total-column-item {
    background-color: rgb(220, 220, 220);
}

.list__total-column-item,
.list__total-row-item {
    border: 1px solid gray
}

.list__column,
.list__row {
    border-top: 1px solid gray;
}

@media (min-width: 800px) {

    .year-month-selection {
        width: 33.2em;
    }

    .list__total-column-item,
    .list__total-row-item {
        padding: 0.2em 2em;
    }

    .list__column-item,
    .list__row-item {
        padding: 0.8em 2em;
    }

    .column-item-date,
    .row-item-date {
        padding-left: 1em;
        text-align: left;
    }
}

@media (min-width: 1200px) {

    .year-month-selection {
        width: 48em;
    }

    .list__total-column-item,
    .list__total-row-item {
        padding: 0.2em 4em;
    }

    .total-column-item-date {
        padding-right: 3.4em;
        padding-left: 3.4em;
    }

    .list__column-item,
    .list__row-item {
        padding: 0.8em 4em;
    }

    .column-item-date,
    .row-item-date {
        padding-left: 2em;
        text-align: left;
    }
}

.list__inner-top {
    margin-bottom: 3em;
}

.list__inner-bottom {
    margin-bottom: 2em;
}

.pagination {
    padding-top: 2em;
}