.user-list__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-list__heading h2 {
    margin: 0;
    padding: 1.5em 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    font-size: 1rem;
}

.search__name {
    display: inline-block;
    padding-top: 3px;
    margin: 0 1em 0 0;
}

.search__input {
    padding: 0em 1em;
    width: 15em;
    height: 2.2em;
    line-height: 2.2em;
    border: 1.5px solid #808080;
    border-radius: 5px;
    appearance: none;
    font-size: 1rem;
    background-color: #f2f2f2f2;
}

.search__button {
    margin-left: 0.5em;
    height: 2.2em;
    border: 1.5px solid #808080;
    border-radius: 5px;
    padding: 0 0.5em;

}

.search__button:hover {
    color: #fff;
    background-color: gray;
    font-weight: bold;
}

table {
    font-size: 1rem;
}

.list__column,
.list__row {
    border-top: 1px solid gray;
}

.list__column-item,
.list__row-item {
    padding: 0.8em 4em;
    text-align: left;
}

.column-item-id,
.row-item-id {
    padding-left: 2em;
}

@media (min-width: 800px) {

    .column-item-button,
    .row-item-button {
        padding-left: 6em;
    }
}

@media (min-width: 1200px) {

    .column-item-button,
    .row-item-button {
        padding-left: 12em;
    }
}

.list__button {
    text-decoration: none;
    color: #fff;
    background-color: #0d6efd;
    border-radius: 5px;
    padding: 0.2em 0.7em;
}

.list__button:hover {
    font-weight: bold;
    color: #fff;
    background-color: #0000ca;
}

.pagination {
    padding-top: 1em;
}